[*.cs]

# RCS1090: Call 'ConfigureAwait(false)'.
dotnet_diagnostic.RCS1090.severity = none

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = warning

# CS8653: A default expression introduces a null value for a type parameter.
dotnet_diagnostic.CS8653.severity = suggestion

# RCS1047: Non-asynchronous method name should not end with 'Async'.
dotnet_diagnostic.RCS1047.severity = warning

# RCS1124: Inline local variable.
dotnet_diagnostic.RCS1124.severity = warning
