@page "/Sandwiches/{SandwichId:int}"

@using Cocorico.Client.Blazor.ComponentModels.Sandwich

@inherits EditSandwichModel

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <input type="text" placeholder="Sandwich Name" class="form-control" bind="@Sandwich.Name" />
            <input type="number" placeholder="Sandwich Price" class="form-control" bind="@Sandwich.Price" />
            <button class="btn btn-primary" onclick="@Edit">Edit</button>
        </div>
    </div>
</div>
