@page "/AddIngredient"

@using Cocorico.Client.Blazor.ComponentModels.Ingredient

@inherits AddIngredientModel

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <input type="text" placeholder="Ingredient Name" class="form-control" bind="@IngredientAddDto.Name" />
            <button class="btn btn-primary" onclick="@Add()">Add</button>
        </div>
    </div>
</div>