@page "/AddIngredient"

@using Cocorico.Client.Domain.ViewModels.Ingredient

@inject IAddIngredientViewModel ViewModel

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <input type="text" placeholder="Ingredient Name" class="form-control" @bind="@ViewModel.IngredientAddDto.Name" />
            <button class="btn btn-primary" @onclick="@ViewModel.AddAsync">Add</button>
        </div>
    </div>
</div>
