@page "/AddIngredient"

@using Cocorico.Client.Domain.Extensions
@using Cocorico.Client.Domain.Helpers
@using Cocorico.Shared.Dtos.Ingredient
@using Cocorico.Shared.Helpers

@inject NavigationManager UriHelper
@inject IIngredientClient IngredientClient

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <input type="text" placeholder="Ingredient Name" class="form-control" bind="@IngredientAddDto.Name" />
            <button class="btn btn-primary" onclick="@Add()">Add</button>
        </div>
    </div>
</div>

@code
{

    protected IngredientAddDto IngredientAddDto { get; set; } = new IngredientAddDto();

    protected async Task Add()
    {
        var result = await IngredientClient.AddAsync(IngredientAddDto);

        if (result.IsSuccessfulStatusCode()) UriHelper.NavigateTo(Urls.Client.Ingredients);
    }

}
