@page "/Ingredients/{Id:int}"
@using Cocorico.Client.Application.ViewModels.Ingredient

@inject IEditIngredientViewModel ViewModel

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <input type="text" placeholder="Ingredient Name" class="form-control" @bind="@ViewModel.IngredientDto.Name" />
            <MatButton Icon="edit" Raised="true" @onclick="@ViewModel.EditIngredientAsync">Edit</MatButton>
        </div>
    </div>
</div>

@code
{
    [Parameter] public int Id { get; set; }

    protected override Task OnInitializedAsync() => ViewModel.LoadIngredientAsync(Id);
}
