@page "/Ingredients/{Id:int}"

@using Cocorico.Client.Blazor.ComponentModels.Ingredient

@inherits EditIngredientModel

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <input type="text" placeholder="Ingredient Name" class="form-control" bind="@IngredientDto.Name" />
            <button class="btn btn-primary" onclick="@Edit()">Edit</button>
        </div>
    </div>
</div>