@page "/Ingredients"
@using Cocorico.Client.Application.ViewModels.Ingredient

@inject IIngredientsViewModel ViewModel

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredientDto in ViewModel.IngredientsList)
        {
        <tr>
            <td>@ingredientDto.Name</td>
            <td><MatButton Icon="edit" Raised="true" @onclick="@(() => ViewModel.GoToEdit(ingredientDto.Id))">Edit</MatButton></td>
            <td><MatButton Icon="delete_forever" Outlined="true" @onclick="@(async () => await ViewModel.DeleteAsync(ingredientDto.Id))">Delete</MatButton></td>
        </tr>
        }
    </tbody>
</table>

@code
{
    protected override async Task OnInitializedAsync() => await ViewModel.LoadIngredientsAsync();
}