@page "/Ingredients"

@using Cocorico.Client.Blazor.ComponentModels.Ingredient

@inherits IngredientsModel

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingredientDto in Ingredients)
        {
            <tr>
                <td>@ingredientDto.Id</td>
                <td>@ingredientDto.Name</td>
                <td><button class="btn btn-secondary" onclick="@(() => Edit(ingredientDto.Id))">Edit</button></td>
                <td><button class="btn btn-danger" onclick="@(() => DeleteAsync(ingredientDto.Id))">Delete</button></td>
            </tr>
        }
    </tbody>
</table>