@page "/sandwiches"

@using Cocorico.Client.ComponentModels.Sandwich
@using Cocorico.Shared.Helpers

@inherits SandwichesModel

@if (Sandwiches.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                @if (UserAuthenticationService.Claims.Contains(Claims.Admin))
                {
                    <th> </th>
                    <th> </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var sandwich in Sandwiches)
            {
                <tr>
                    <td>@sandwich.Id</td>
                    <td>@sandwich.Name</td>
                    @if (UserAuthenticationService.Claims.Contains(Claims.Admin))
                    {
                        <td><button class="btn btn-secondary" onclick="@(() => Edit(sandwich.Id))">Edit</button></td>
                        <td><button class="btn btn-danger" onclick="@(() => Delete(sandwich.Id))">Delete</button></td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
