@page "/sandwiches"

@using Cocorico.Client.ComponentModels.Sandwich

@inherits SandwichesModel

@if (Sandwiches.Count == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sandwich in Sandwiches)
            {
                <tr>
                    <td>@sandwich.Id</td>
                    <td>@sandwich.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
