@page "/login"

@using Cocorico.Client.Domain.ViewModels.Authentication

@layout MainLayout

@inject ILoginViewModel ViewModel

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            @if (ViewModel.ShowLoginFailed)
            {
                <div class="alert alert-danger">
                    Login attempt failed.
                </div>
            }
            <EditForm OnValidSubmit="@ViewModel.LoginUserAsync" Model="@ViewModel.UserLoginDetails">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <InputText type="email" @bind-Value="@ViewModel.UserLoginDetails.Email" placeholder="example@host.org" class="form-control" />
                <InputText type="password" @bind-Value="@ViewModel.UserLoginDetails.Password" placeholder="Password" class="form-control" />
                <button type="submit" class="btn btn-primary">Login</button>
            </EditForm>
        </div>
    </div>
</div>
