@page "/login"

@layout MainLayout
@using Cocorico.Client.Domain.ViewModels.Authentication

@inject ILoginViewModel UserLoginViewModel

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            @if (UserLoginViewModel.ShowLoginFailed)
            {
                <div class="alert alert-danger">
                    Login attempt failed.
                </div>
            }
            <input type="text" @bind="@UserLoginViewModel.UserLoginDetails.Email" placeholder="example@host.org" class="form-control" />
            <input type="password" @bind="@UserLoginViewModel.UserLoginDetails.Password" placeholder="Password" class="form-control" />
            <button class="btn btn-primary" @onclick="@UserLoginViewModel.LoginUserAsync">Login</button>
        </div>
    </div>
</div>
