@page "/addCustomerOrder"

@using Cocorico.Client.Blazor.ComponentModels.Order

@inherits AddOrderModel

<div class="container">
    <div class="row">
        @foreach (var sandwich in OrderAddDto.Sandwiches)
        {
            <label>@sandwich.Name @sandwich.Price JMF</label>
        }

        <label>Sum: @OrderAddDto.Sandwiches.Sum(s => s.Price) JMF</label>
        <button class="btn btn-primary" onclick="@Add">Add</button>
    </div>
</div>